- @body_id = 'new-entry'
%title
  Create Entry | Caption Monster

.container
  .col-md-6
    %h1
      Create an Image
    - if @entry.errors.any?
      .error-messages
        %h3 Could not upload image:
        .row
          .col-md-6
            %ul.list-group
              - for message in @entry.errors.full_messages
                %li.list-group-item.list-group-item-danger
                  = message

    .upload_form
      = form_for @entry, :url => entries_url, :html => {:class => "nifty-form", :multipart => true } do |f|
        .upload.form-group
          = f.label 'photo', 'Upload your image:'
          = f.file_field :photo
          %p.help-block Select an image to upload.
        .title.form-group
          = f.label 'title', 'Your caption:'
          = f.text_field :title, :class => "form-control"
        .submit
          = f.submit "Create", :class => "btn btn-primary"
