Hola!

= form_for @entry, :url => entries_url, :html => {:class => "nifty_form", :multipart => true } do |f|
  = f.label 'picture_title', 'Title:'
  = f.datetime_field :title
  = f.file_field :photo
  = f.submit "Create"
