%h1
  Caption Monster

.recent_images
  %h3
    = link_to 'Most recent images', entries_index_url

.recent_captions
  %h3
    = link_to "Most recent captions", captions_index_url

.upload_form
  = form_for @entry, :url => entries_url, :html => {:class => "nifty_form", :multipart => true } do |f|
    .upload
      = f.label 'photo', 'Upload your photo:'
      .file
        = f.file_field :photo
    .title
      = f.label 'title', 'Title:'
      = f.datetime_field :title
    .submit
      = f.submit "Create"
