%h2.title
  = @entry.title
.date
  Created #{pretty_date(@entry.created_at)} #{pretty_time(@entry.created_at)}
%h3.delete
  = link_to 'Delete', entry_url(@entry.id), :method => :delete
.image
  = image_tag @entry.photo.url(:medium)

= form_for @label, :url => labels_url do |l|
  = l.label 'message', 'Your Caption:'
  = l.text_field :message
  = l.hidden_field :entry_id, :value => @entry.id
  = l.submit 'Enter'

#caption-container
  #sort-filter
    Sort By:
    = select_tag(:type, options_for_sort)
  #captions-here
    = render "sort"

= link_to "Recent Images", entries_index_path
