- body_id = 'show-entry'
%title
  #{@entry.title} | Caption Monster

%h2.title
  = @entry.title
.date
  Created #{pretty_date(@entry.created_at)} #{pretty_time(@entry.created_at)}
- if current_user && @entry.user.present? && current_user.id == @entry.user.id
  %h3.delete
    = link_to 'Delete', entry_url(@entry.id), :method => :delete
.image
  = image_tag @entry.photo.url(:medium)

= form_for @label, :url => labels_url do |l|
  = l.label 'message', 'Caption:'
  = l.text_area :message, :rows => 3, :class => "form-control", :placeholder => "Enter your caption"
  = l.hidden_field :entry_id, :value => @entry.id
  = l.submit 'Enter', :class => ("btn btn-primary")

%h2.errors

#caption-container
  #sort-filter
    Sort By:
    = select_tag(:type, options_for_sort, :class => "form-control")
  #captions-here
    = render "sort"

= link_to "Recent Images", entries_index_path
