- body_id = 'show-caption'
%title
  #{@user.name}'s Account | Caption Monster

#user_account
  .container
    %h2.name
      = @user.name
      %small
        = @user.email
    .activity
      %h4 
        - entry_count = @user.entries.count
        Number of Entries: #{entry_count}
        = link_to "View all", user_entries_path(@user.id) if entry_count > 0
      %h4
        - label_count = @user.labels.count
        Number of Captions: #{label_count}
        = link_to "View all", user_captions_path(@user.id) if label_count > 0
      