.container#new-caption
  .row
    .col-md-8
      - if current_user && @entry.user.present? && current_user.id == @entry.user.id
        %h3.delete
          = link_to 'Delete', entry_url(@entry.id), :method => :delete
      .entry-image
        = image_tag @entry.photo.url
        .user-info
          .user-name
            = @entry.user.name if @entry.user
          .date
            #{pretty_date(@entry.created_at)} #{pretty_time(@entry.created_at)}
    .col-md-4
      .list-group
        %a.list-group-item.show-caption-form{:href => '#'}
          Create Caption
          .caret
        %li.list-group-item.show-caption-form{:style => 'display:none'}
          .hide-caption-form
            %strong Create a Caption
            .caret.caret-up
          = form_for @label, :url => labels_url do |l|
            %p.form-group
              = l.text_area :message, :rows => 3, :class => "form-control", :placeholder => "Enter your caption (140 char max)", :type => "input", :maxlength => 140;
            = l.hidden_field :entry_id, :value => @entry.id
            %p
              = l.submit 'Enter', :class => "btn btn-primary"
        %a.list-group-item{:href => user_entries_path(@entry.user.id)}
          %span.badge 
            = Entry.where(:user_id => @entry.user.id).count
          More Entries from #{@entry.user.name}
        - if @entry.labels.empty?
          %li.list-group-item
            No Captions Yet
        - else
          %a.list-group-item.show-captions{:href => '#'}
            %span.badge
              = @entry.labels.count
            Show Captions
            .caret
          %li.list-group-item.show-captions{:href => '#', :style => "display: none"}
            #caption-container
              .row
                .col-md-6
                  .hide-captions{:href => "#"}
                    Hide Captions
                    .caret.caret-up
                  #sort-filter
                    Sort By:
                    = select_tag(:type, options_for_sort, :class => "form-control")
              #captions-here
                = render "layouts/sort"
