.navbar.navbar-default.navbar-fixed-top.navbar-inverse{:role => "navigation"}
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{:data => {:toggle => "collapse", :target => "#bs-example-navbar-collapse-1"}}
        %span.sr-only Toggle navigtation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} CaPTioN MoNSTeR
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li{:class => "#{active_class('entry/new')}"}
          = link_to "Upload Image", new_entry_path
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} 
            Create Captions
            %b.caret
          %ul.dropdown-menu
            %li.dropdown-header
              Find Captions:
            %li
              = link_to "Random Image", random_entry_path(:id)
            %li.divider
            %li
              = link_to "Most Popular", popular_entry_path(:id)
            %li
              = link_to "Recent Images", entries_index_path
            %li
              = link_to "Recent Captions", captions_index_path
      %ul.nav.navbar-nav.navbar-right
        %li.search-header-item
          = render 'layouts/header_search'
        - if current_user 
          - if current_user.registered?
            %li.dropdown
              %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
                Account
                // .glyphicon.glyphicon-user{:style => "padding-left: 10px"}
                %b.caret
              %ul.dropdown-menu
                %li.dropdown-header 
                  = current_user.email
                %li
                  = link_to "Settings", show_user_path(@current_user.id)
                %li.divider
                %li
                  = link_to "Log Out", log_out_path
          - else
            %li.dropdown
              %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
                Register Account
                // .glyphicon.glyphicon-user{:style => "padding-left: 10px"}
                %b.caret
              %ul.dropdown-menu
                %li.dropdown-header 
                  Register #{current_user.anon_name}
                %li
                  = link_to "Sign Up", sign_up_path
                %li.divider
                %li
                  = link_to "Activity", show_user_path(@current_user.id)
                %li
                  = link_to "Log Out", log_out_path
        - else
          %li
            = link_to "Log In", log_in_path
          %li
            = link_to "Sign Up", sign_up_path
