!!! 5
%html
  %head
    -# Meta tags
    = render 'layouts/metas'

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'
    = yield
