!!! 5
%html
  %head
    -# Meta tags
    = render 'layouts/metas'
    - # Bootstrap stylesheet included in application.
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    = csrf_meta_tags

  // Add class when user's browser is iOS for fixed navigation bar bug. 
  %body{:id => @body_id, :class => ("ios-browser" if detect_ios)}
    / = javascript_include_tag "application", "data-turbolinks-track" => true
    / = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'

    #header
      = render 'layouts/header'
    #main
      = yield
